.search_wrapper {
  width: 720px;
  height: 100px;
  /* background-color: blue; */

  position: relative;

  display: flex;
  align-items: center;
}

.search_input {
  width: 700px;
  height: 40px;

  border-color: transparent;
  border-radius: 20px;

  padding-left: 10px;

  text-align: center;
  letter-spacing: 3px;
}

/* .search_input::placeholder {
  color: lightblue;
} */

.search_input:focus {
  outline: 0;
}

.search_button {
  /* display: none; */
  width: 100px;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
  /* border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; */
  border: none;

  position: absolute;
  right: 0;
  z-index: 2;

  /* color: red; */
  font-weight: bold;
  font-size: 14px;
}

.search_icon {
  width: 25px;
  height: 25px;
}
