.search_side .search_wrapper {
  width: 720px;
  height: 100px;
  /* background-color: blue; */

  position: relative;

  display: flex;
  align-items: center;
}

.search_side .search_frame {
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search_side .search_label {
  /* width: 25px;
  height: 25px; */
  /* background-color: red; */

  position: absolute;
  margin: auto;
  z-index: 3;
}

.search_side .search_label::after {
  content: "";

  animation: search_product;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes search_product {
  0% {
    content: "S";
  }

  8% {
    content: "Se";
  }

  16% {
    content: "Sel";
  }

  24% {
    content: "Sele";
  }

  32% {
    content: "Selec";
  }

  40% {
    content: "Select";
  }

  48% {
    content: "Select ";
  }

  56% {
    content: "Select P";
  }

  64% {
    content: "Select Pr";
  }

  72% {
    content: "Select Pro";
  }

  80% {
    content: "Select Prod";
  }

  88% {
    content: "Select Produ";
  }

  96% {
    content: "Select Produc";
  }

  100% {
    content: "Select Product";
  }
}

.search_side .search_input {
  width: 720px;
  height: 40px;

  border-color: transparent;
  border-radius: 20px;

  padding-left: 10px;

  text-align: center;
  letter-spacing: 3px;
}

.search_side .search_input:focus {
  outline: 0;
}

.search_side .search_button {
  width: 50px;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
  border: none;

  position: absolute;
  right: 0;
  z-index: 2;

  /* color: red; */
  font-weight: bold;
  font-size: 14px;
}

.search_side .search_icon {
  width: 25px;
  height: 25px;
}
