.cart_side .title {
  margin-bottom: 5vh;
}

.cart_side .card {
  margin: auto;
  max-width: 1250px;
  width: 100%;
  background-color: transparent;
  /* margin-bottom: 10px; */
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

@media (max-width: 767px) {
  .cart_side .card {
    margin: 3vh auto;
  }
}

.cart_side .cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

@media (max-width: 767px) {
  .cart_side .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}

.cart_side .summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}

@media (max-width: 767px) {
  .cart_side .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}

.cart_side .summary .col-2 {
  padding: 0;
}

.cart_side .summary .col-10 {
  padding: 0;
}

.cart_side .row {
  margin: 0;
}

.cart_side .title b {
  font-size: 1.5rem;
}

.cart_side .main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.cart_side .col-2,
.cart_side .col {
  padding: 0 1vh;
}

.cart_side a {
  padding: 0 1vh;
}

.cart_side .close {
  margin-left: auto;
  font-size: 0.7rem;
}

.cart_side img {
  width: 3.5rem;
}

.cart_side .back-to-shop {
  margin-top: 4.5rem;
}

.cart_side h5 {
  margin-top: 4vh;
}

.cart_side hr {
  margin-top: 1.25rem;
}

.cart_side form {
  padding: 2vh 0;
}

.cart_side select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.cart_side input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.cart_side input:focus::-webkit-input-placeholder {
  color: transparent;
}

.cart_side .btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}

.cart_side .btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}

.cart_side .btn:hover {
  color: white;
}

.cart_side a {
  color: black;
}

.cart_side a:hover {
  color: black;
  text-decoration: none;
}

.cart_side #code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

.cart_side .increase,
.cart_side .decrease,
.cart_side .count {
  background-color: transparent;
}

.cart_side .increase,
.cart_side .decrease {
  border: none;
}

.cart_side .count {
  border: 1px solid silver;
}
