.account_google {
    width: 235px;
    height: 40px;
    background-color: rgb(223, 74, 50);
    border: none;
    border-radius: 4px;

    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    color: white;
    font-weight: bold;

    transform-origin: 0 0;

    animation-name: account_google;
    animation-duration: 0.3s;
}

@keyframes account_google {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 235px;
        height: 40px;
    }
}
