.order_side {
  box-shadow: 0 0 5px 5px red;

  margin-left: 15px;
  padding-top: 20px;
}

.order_side > .wrapper {
  width: 985px;
  height: 1200px;
  /* background-color: blue; */

  /* position: relative; */
}

.order_side .side_header {
  width: 985px;
  height: 21px;

  margin-bottom: 15px;

  font-size: 19px;
  font-weight: 300;
}

.order_side .side_inner {
  width: 985px;
  height: 663px;
  background-color: white;
}

.order_side .side_title {
  padding: 20px 15px;
}
