.account_content:hover .account_dropdown {
    display: block;
}

.account_dropdown {
    width: 270px;
    height: 230px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px 0px;

    display: none;

    position: absolute;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 8;

    animation-name: account_dropdown;
    animation-duration: 0.3s;
}

.account_dropdown::after {
    content: "";

    width: 10px;
    height: 10px;
    background-color: rgb(253, 216, 53);

    position: absolute;
    margin-left: 50%;
    z-index: 5;

    transform: rotate(45deg);
    transform-origin: 10px 0;

    animation-name: account_arrow;
    animation-duration: 0.3s;
}

@keyframes account_dropdown {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 270px;
        height: 230px;
    }
}

@keyframes account_arrow {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 10px;
        height: 10px;
    }
}
