.account_sidebar > .wrapper {
  width: 250px;
  height: 1200px;
  /* background-color: black; */

  box-shadow: 0 0 5px 5px blue;
}

.order_sidebar > .wrapper {
  width: 1000px;
  height: 1200px;
  /* background-color: red; */
  box-shadow: 0 0 5px 5px blue;

  position: relative;
  margin-left: 15px;
}
